{% extends 'tienda/main.html' %}
{% load static %}
{% block content %}
   
   <div class="row">
    <div class="col-lg-12">
        <div class="box-element">

            <a  class="btn btn-outline-dark" href="/">&#x2190; continuar comprando</a>

            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>Total:<strong>${{order.get_cart_total}}</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="pagos/">pagar</a>
                    </th>
                </tr>
            </table>

        </div>

        <br>
        <div class="box-element">
            <div class="cart-row">
                <div style="flex:2"></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>PRECIO</strong></div>
                <div style="flex:1"><strong>CANTIDAD</strong></div>
                <div style="flex:1"><strong>Total</strong></div>
            </div>
            
            
            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/libro2.jpg' %}"></div>
                <div style="flex:2"><p> libro1 </p></div>
                <div style="flex:1"><p>$20</p></div>
                <div style="flex:1">
                    <p class="quantity">1</p>
                    <div class="quantity">
                        <img data-product={{item.product.id}} data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
                
                        <img data-product={{item.product.id}} data-action="remove" class="chg-quantity update-cart"  src="{% static  'images/arrow-down.png' %}">
                    </div>
                </div>
                <div style="flex:1"><p>${{item.get_total}}</p></div>
            </div>
            
        </div>
    </div>
</div>

{% endblock content %}





























   </div>