
{% extends 'tienda/Main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for Producto in productos %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{% static 'images/libro3.jpg' %}">
        <div class="box-element product">
            <h6><strong>{{producto.name}}</strong></h6>
            <hr>
            <button data-product={{producto.id}} data-action="add" 
                class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
            <h4 style="display: inline-block; float: right"><strong>${{producto.price|floatformat:2}}</strong></h4>
    
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}


