<!DOCTYPE html>
<html lang="en">
    <style>
        p {
          color:#463f34;
          align-content;
          text-align:center;
        }
      </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body style="background-color:rgb(105, 182, 226);">
   <img src="assets/ESCUELA-removebg-preview.png">
   
    <h1 style="color: rgb(63, 60, 54);"> Escuela Coderhouse </h1> 

    <div align="center" style="color: rgb(63, 60, 54)"> Espacio para alumnos &#128640 </div> <br<br><br><br><br><br>>

    <div align="center" style="color: rgb(63, 60, 54)"> Promedios &#127996 </div>
    <div align="center" style="color: rgb(63, 60, 54)"> Asistencia &#128064 </div>

   <a href="/about/">Acerca de nosotros</a>
</body>
</html>