<!DOCTYPE html>
<html lang="en">
    <style>
        
         
        
      </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
        <link rel="icon" type="assets/ESCUELA-removebg-preview" href="/ESCUELA-removebg-preview.png">
</head>
<body style="background-color:rgb(105, 182, 226);">
  <center><img src="assets/ESCUELA-removebg-preview.png"></center>
   

   <center> <h2 style="color:rgb(63, 60, 54);"> SELECCIONE SU ROL: </h2> </center> <br><br><br>

<center>
   <div> <a style="color: rgb(63, 60, 54);" href="/profes"> <button> Profesores </button> </a> <br><br><br><br>
    <div> <a style="color: rgb(63, 60, 54);" href="/alumnos"> <button> Alumnosssssssssssssssssssssss </button> </a> 
    </center> 
    
    <br><br><br><br>



   <a href="/about/">Acerca de nosotros</a>
</body>
</html>