<!DOCTYPE html>
<html lang="en">
    <style>
        p {
          color:#463f34;
          align-content;
          text-align:center;
        }
      </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
</head>
<body style="background-color:rgb(105, 182, 226);">
  <img src="assets/ESCUELA-removebg-preview.png">
   
    <h1 style="color: rgb(63, 60, 54);"> Escuela Coderhouse </h1> 

   <h2 style="color:rgb(63, 60, 54);"> Seleccione su opcion: </h2>

   <p>  ..</p>

   <div> <a style="color: rgb(63, 60, 54);" href="/profes"> profes </a> 
    
    
    <br>



   <a href="/about/">Acerca de nosotros</a>
</body>
</html>