<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>00's ingles</title>
</head>
<body bgcolor="black">
    
    <a href="/home"><h1 style="color: rgb(197, 138, 30);" > Musicery </h1> </a>

    <p style="color: white;"> My Hips dont lie - Shakira  </p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3ZFTkvIE7kyPt6Nu3PEa7V?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

    <p style="color: white;"> Lose yourself- eminem </p>
    
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7MJQ9Nfxzh8LPZ9e9u68Fq?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>

</body>
</html>