<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
   <a href="/home"><h1 style="color: rgb(197, 138, 30);" > Musicery </h1> </a>

   <p> playlist en ingles </p>


   <div> <a style="color: rgb(0, 0, 0);" href="/ing90"> anos 90s </a> <br>  <a style="color: rgb(0, 0, 0);" href="/ing00">anos 00s </a> <br> <a style="color: rgb(0, 0, 0);" href="">anos 10s </a> <br> <a style="color: rgb(0, 0, 0);" href="">anos 20s </a> 

   
</body>
</html>